body{
    margin: 0px;
    padding: 0%;
}

#first_section{
    height: 100vh;
    background-color: rgb(244, 234, 220);
    overflow: hidden;
    
}

#container_first_section{
    display: flex;
}

#image_front{
    height: 120vh;
    transform:translateX(30%) translateY(-10%) rotateZ(5deg);
    
}

#txt_front_page{
    text-align: center;
    margin-left: 25%;
    animation: anim 4s;
    transform: translateY(8%);
}




#txt_front_page h1{
    font-family: 'Petit Formal Script', cursive;
    font-size: 60px;
    margin-bottom: 1%;
}

#txt_front_page h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;

}

#txt_front_page img{
    height: 70px;
}

#container_lettre_forms{
    display: flex;
    text-align: center;
}

#div_one_lettre{
    height: fit-content;
    width: 50%;
    padding-top:10%;
    margin-left: 5%;
}

#red_flag{
    color: red;
}

#youtube_video{
    text-align: center;
}

footer{
    border-top: dashed 2px black;
    text-align: center;
}

#phone_contact{
    display: flex;

    width: fit-content;
}

#phone_contact div p{
    transform: translateY(130%);
}

@keyframes anim {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#container_forms img{
    border-radius: 20px;
    height: 15%;
    transform:translateY(-95%)  translateX(10%);
}


#container_forms{
    width: 0%;
    margin-left: 8%;
    margin-top: 5%;
}

#name{
    padding-bottom: 5%;
}

#container_forms div{
    height: 15%;
    width: 350px;
    border: 2px solid black;
    border-radius: 20px;
    
}

@media screen and (max-width: 1072px) {
    #container_forms img{
        display: none;
    }

    #container_forms div{
        display: none;
    }    

    #container_lettre_forms{
        display: block;
        height: fit-content;
    }

    #image_des_images{
        display: none;
    }

    #txt_front_page{
        transform: translateX(-19%) translateY(15%);
    }

    #div_one_lettre p{
        transform: translateX(40%);
    }

    #div_one_lettre h1{
        transform: translateX(40%);
    }

    #phone_contact{
        transform: translateX(30%);
    }

}